{% url 'cities:index' as cities_index_url %}
{% url 'cities:create' as cities_create_url %}
{% url 'trains:index' as trains_index_url %}
{% url 'trains:create' as trains_create_url %}
{% url 'list' as route_list %}

<nav class="navbar navbar-expand-lg container" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href=" {% url 'index' %} ">FindRoute</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.path == cities_index_url %}active{% endif %}" aria-current="page" href=" {% url 'cities:index' %} ">Города</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == trains_index_url %}active{% endif %}" href="{% url 'trains:index' %}">Поезда</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == route_list %}active{% endif %}" href="{% url 'list' %}">Маршруты</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown {% if request.path == trains_create_url or request.path == cities_create_url %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Добавить
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cities:create' %}">Новый город</a></li>
              <li><a class="dropdown-item" href="{% url 'trains:create' %}">Новый поезд</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class='me-2'>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
         <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">{{user|title}}</a></li>
         <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a></li>
        {% else %}
          <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="{% url 'accounts:registration' %}" class="nav-link">Registration</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
