{% extends 'base.html' %}
{% block title %}Список объектов{% endblock title %}
{% block content %}
    <h1>Список объектов</h1>
    <table class="table table-light table-hover align-middle">
        <thead>
            <th scope="col">Город</th>
            <th scope="col">Бригада</th>
            <th scope="col">Объект</th>
            <th scope="col">Количество людей в бригаде</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Должность ответственного</th>
            <th scope="col">Удалить объект</th>
        </thead>
        {% for object in object_list %}
            <tr>
                <td>{{object.city}}</td>
                <td>{{object.team}}</td>
                <td>{{object.name}}</td>
                <td>{{object.amount_people}}</td>
                <td>{{object.head}}</td>
                <td>{{object.qualification}}</td>
                <td>
                    <a href="{% url 'object:delete' object.id %}"><button class="btn btn-danger">Удалить</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'object:create' %}"><button class="btn btn-primary">Создать объект</button></a>
{% endblock content %}
